.textcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-wrap: nowrap;
    color: white;
}

.autoImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;

    &_pic {
        object-fit: cover;
        object-position: center;
        width: 500px;
        height: 500px;

        @media screen and (max-width: 575px) {
            width: 320px;
            height: 320px;
        }
    }
}

h1 {
    text-align: center;
    font-size: 52px;
    margin-bottom: 0;
    margin-top: 26px;
}

p {
    text-align: center;
    max-width: 500px;
    font-size: 36px;
    margin-bottom: 76px;
}

h2 {
    text-align: center;
    font-size: 46px;
    margin-bottom: 0;
    color: black;
}

.btn {
    margin-top: -56px;
    margin-bottom: 34px;
    padding: 10px 36px;
}