.modal-content {
    .btn {
        margin-top: 0;
        margin-bottom: 0;
    }
    h2 {
        text-align: center;
    }
    img {
        width: 100px;
        height: 100px;
    }
    .textcont {
        gap: 5px;
        padding: 0;
    }
    a {
        color: black;
        text-decoration: none;
        margin-bottom: 15px;
    }
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}

.form-floating {
    color: gray;
    width: 90%;
}

.text-verify {
    color: black;
    text-align: center;
    margin-bottom: 10px;
}